<h1>Ola Nordmann</h1>
  <h1>Studieprogram: {{title}}</h1>
 <a [href]="website" target="_blank">Kursinfo</a>
<div class="container">


  <div class="list-container">
    <div class="semester1-container column-container completed-container">
      <div>
        <h2>Høst 2021</h2>
        <h3>Avlagte studiepoeng:  </h3>
        <mat-card *ngFor="let course of semester1">
          <mat-card-header>
            <mat-card-title>{{course.name}}</mat-card-title>
            <mat-card-subtitle>{{course.category}}</mat-card-subtitle>
            <mat-card-subtitle>{{course.points}} studiepoeng</mat-card-subtitle>
          </mat-card-header>
        </mat-card>

      </div>
    </div>

    <div class="semester2-container column-container completed-container">
      <div>
        <h2>Vår 2022</h2>
        <h3>Avlagte studiepoeng: {{totalPointsSemester2}}</h3>
        <mat-card *ngFor="let course of semester2">
          <mat-card-header>
            <mat-card-title>{{course.name}}</mat-card-title>
            <mat-card-subtitle>{{course.category}}</mat-card-subtitle>
            <mat-card-subtitle>{{course.points}} studiepoeng</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </div>
    </div>

    <div class="semester3-container column-container completed-container">
      <div>
        <h2>Høst 2022</h2>
        <h3>Avlagte studiepoeng:</h3>
        <mat-card *ngFor="let course of semester3">
          <mat-card-header>
            <mat-card-title>{{course.name}}</mat-card-title>
            <mat-card-subtitle>{{course.category}}</mat-card-subtitle>
            <mat-card-subtitle>{{course.points}} studiepoeng</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </div>
    </div>

    <div class="semester4-container column-container">
      <div class="list"
           cdkDropList
           #todoList="cdkDropList"
           [cdkDropListData]="semester4"
           [cdkDropListConnectedTo]="[doneList]"
           (cdkDropListDropped)="onDrop($event)">
        <h2>Vår 2023</h2>
          <h3>Avlagte studiepoeng:</h3>
        <mat-card *ngFor="let course of semester4" cdkDrag>
          <mat-card-header>
            <mat-card-title>{{course.name}}</mat-card-title>
            <mat-card-subtitle>{{course.category}}</mat-card-subtitle>
            <mat-card-subtitle>{{course.points}} studiepoeng</mat-card-subtitle>
          </mat-card-header>
        </mat-card>

      </div>
    </div>

    <div class="semester5-container column-container">
      <div class="list"
           cdkDropList
           #doneList="cdkDropList"
           [cdkDropListData]="semester5"
           [cdkDropListConnectedTo]="todoList"
           (cdkDropListDropped)="onDrop($event)">
        <h2>Høst 2023</h2>
        <h3>Avlagte studiepoeng:</h3>
        <mat-card *ngFor="let course of semester5" cdkDrag>
          <mat-card-header>
            <mat-card-title>{{course.name}}</mat-card-title>
            <mat-card-subtitle>{{course.category}}</mat-card-subtitle>
            <mat-card-subtitle>{{course.points}} studiepoeng</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </div>
    </div>

    <div class="semester6-container column-container completed-container">
      <div>
        <h2>Vår 2024</h2>
        <h3>Avlagte studiepoeng:</h3>
        <mat-card *ngFor="let course of semester6">
          <mat-card-header>
            <mat-card-title>{{course.name}}</mat-card-title>
            <mat-card-subtitle>{{course.category}}</mat-card-subtitle>
            <mat-card-subtitle>{{course.points}} studiepoeng</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </div>
    </div>
  </div>
</div>

